.footer {
  width: 100%;
  background: #0b0b0b;
  height: 50px;
}
.footer {
  div {
    p {
      color: red;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin-top: 30px;
      padding: 20px;
    }
  }
}
